form {
    /* background-color:#FFFFCC; */
    /* color           : red; */
    font-size: 150%;
}

select {
   background: transparent;
   /* width: 268px; */
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1;
   /* border-radius: 0; */
   height: 34px;
   /* -webkit-appearance: none; */
}

input {
    /* background-color:#FFFFCC; */
   background: transparent;
   /* width: 268px; */
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1;
   /* border-radius: 0; */
   height: 24px;
   /* -webkit-appearance: none; */
}
