table {
    /* width   : 100%; */
    border  : thin solid black;
    /* table-layout    : fixed; */
    text-align  : center;    
}

td, th {
    /* border  : thin dotted gray; */
    border  : thin solid;
    /* padding : 5px; */
}

aside {
    /* line-height:30px; */
    /* background-color:#eeeeee; */
    /* height:300px; */
    /* width:100px; */
    float:right;
    padding:5px;
}
